<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button></ion-back-button>
    <ion-title>
      <ion-icon name="images-outline"></ion-icon>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Photo Gallery</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col *ngIf="photoService?.photos.length === 0">
        <div class="ion-text-center mt-5">My gallery is empty.</div>
      </ion-col>
      <ion-col
        size="6"
        *ngFor="let photo of photoService?.photos; index as position"
      >
        <ion-img
          [src]="photo.webviewPath"
          (click)="showActionSheet(photo, position)"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
