<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="qr">
        <ion-icon name="qr-code-outline"></ion-icon>
        Qr Code
      </ion-tab-button>
      <ion-tab-button tab="gallery">
        <ion-icon name="images-outline"></ion-icon>
        Gallery
      </ion-tab-button>
      <ion-tab-button tab="expense-list">
        <ion-icon name="list-outline"></ion-icon>
        Expense List
      </ion-tab-button>
      <ion-tab-button tab="nfc">
        <ion-icon name="wifi-outline"></ion-icon>
        NFC
      </ion-tab-button>
      <ion-tab-button tab="#">
        <ion-icon name="log-out-outline"></ion-icon>
        Logout
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  