<ion-header>
  <ion-toolbar>
    <ion-title>Add Expense </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="overflow: hidden;">
  <ion-grid>
    <form [formGroup]="todoForm">
      <ion-row>
        <ion-col size="6">
          <ion-input
            label="Title"
            formControlName="title"
            type="text"
            label-placement="floating"
            fill="outline"
            placeholder="Enter Title"
          ></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input
            label="Amount"
            formControlName="amount"
            type="number"
            min="0"
            label-placement="floating"
            fill="outline"
            placeholder="Enter Amount"
          ></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input
            type="date"
            label="Date"
            formControlName="date"
            label-placement="floating"
            fill="outline"
            [max]="today"
          ></ion-input>
        </ion-col>
        <ion-col size="6"> </ion-col>
        <ion-col col="6">
          <ion-button shape="round" (click)="addExpenseForm()">Add Expense</ion-button>
          <ion-button shape="round" (click)="cancel()">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-content>
      <div *ngIf="todoList?.length === 0" class="text-center">No Expenses</div>
    <ion-list [inset]="true" *ngFor="let todo of todoList">
      <ion-item>
        <ion-item style="border-radius: 20px;" slot="start"  color="secondary">
          {{ todo?.date | date : "mediumDate" }}
        </ion-item>
        <ion-label>{{ todo?.title }}</ion-label>
        <ion-label slot="end">${{ todo?.amount }}</ion-label>
        <ion-button color="primary" slot='end' (click)="editItem(todo?.id)"><ion-icon name="create-outline"></ion-icon></ion-button>
        <ion-button color="danger" slot='end' (click)="deleteItem(todo?.id)"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
